<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="reDAO">

	<!-- 댓글 선택 쿼리문 -->
	<select id="select" parameterType="reDTO" resultMap="rsMap">
		SELECT *
		FROM reply WHERE bNum = #{bNum}
	</select>

	<resultMap type="reDTO" id="rsMap">
		<result property="bNum" column="bNum" />
		<result property="reNum" column="reNum" />
		<result property="writer" column="writer" />
		<result property="content" column="content" />
		<result property="write_date" column="write_date" />
	</resultMap>

	<!-- 댓글 리스트 출력 -->
	<select id="selectAll" resultMap="rsMap">
		SELECT * FROM reply
	</select>

	<!-- 댓글 추가 -->
	<insert id="insert" parameterType="reDTO">
		INSERT INTO reply (bNum,reNum,
		writer, content, write_date)
		VALUES(#{bNum,
		jdbcType=VARCHAR},re_seq.NEXTVAL,#{writer,
		jdbcType=VARCHAR},#{content,jdbcType=VARCHAR},systimestamp)
	</insert>

	<!-- 댓글 삭제 -->
	<delete id="delete" parameterType="reDTO">
		DELETE FROM reply WHERE
		reNum =
		#{reNum}
	</delete>

</mapper>