<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cpDAO">

	<!-- 쿠폰 선택 쿼리문   -->
	<select id="cpSelect" parameterType="cpDTO" resultMap="rsMap">
		SELECT * FROM coupon WHERE cId = #{cId}
	</select>

	<resultMap type="cpDTO" id="rsMap">
		<result property="num" column="num" />
		<result property="cId" column="cId" />
		<result property="cTitle" column="cTitle" />
		<result property="option" column="option" />
		<result property="discount" column="discount" />
		<result property="startDate" column="startDate" />
		<result property="endDate" column="endDate" />		
	</resultMap>

	<!-- 쿠폰리스트 select -->
	<select id="cpSelectAll" resultMap="rsMap">
		SELECT * FROM coupon ORDER BY num DESC
	</select>
	
	<!-- 쿠폰 등록 쿼리문 -->
	<insert id="cpInsert" parameterType="cpDTO">
		INSERT INTO coupon(num,cId,cTitle,option,discount,startDate,endDate) 
		VALUES(no_seq.NEXTVAL,#{cId, jdbcType=VARCHAR},#{cTitle, jdbcType=VARCHAR},#{option, jdbcType=VARCHAR},#{discount,jdbcType=VARCHAR},sysdate,sysdate+6)
	</insert>
	
	<!-- 게시글 삭제 쿼리문   -->
	<delete id="cpDelete" parameterType="cpDTO">
		DELETE FROM coupon WHERE
		cId = #{cId}
	</delete>
</mapper>
