<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cpuDAO">
	
	<select id="select" parameterType="cpuDTO" resultMap="rsMap">
		SELECT *
		FROM couponUse
		WHERE cp_id = #{cp_id}
	</select>
	
	<select id="select2" parameterType="String" resultMap="rsMap">
		SELECT *
		FROM couponUse
		WHERE cp_id = #{cp_id} and cp_using = 'N'
	</select>
	
	<select id="selectCount" parameterType="String" resultType="int">
      SELECT count(*)
      FROM couponUse
      WHERE cp_id = #{cp_id} and cp_using = 'N'
  	</select>
	
	<resultMap type="cpuDTO" id="rsMap">
		<result property="num" column="num" />
		<result property="cp_id" column="cp_id" />
		<result property="cp_title" column="cp_title" />
		<result property="cp_type" column="cp_type" />
		<result property="cp_num" column="cp_num" />
		<result property="cp_end" column="cp_end" />
		<result property="cp_using" column="cp_using" />
	</resultMap>
	
	<delete id="delete" parameterType="cpuDTO">
		DELETE FROM couponUse WHERE
		cp_end = #{cp_end}e
	</delete>
	
	<delete id="update" parameterType="cpuDTO">
		UPDATE couponUse SET cp_using = 'Y' WHERE num = #{num}
	</delete>
	
	<delete id="updateN" parameterType="cpuDTO">
		UPDATE couponUse SET cp_using = 'N' WHERE num = #{num}
	</delete>
	
	<!-- 쿠폰 다운로드시 사용자 쿠폰북에 저장 -->
	<insert id="insertCp" parameterType="cpuDTO">
		INSERT INTO couponUse(num,cp_id,cp_title,cp_type,cp_num,cp_end,cp_using,cp_condition,cp_name) 
		VALUES(couponUse_seq.NEXTVAL,#{cp_id, jdbcType=VARCHAR},#{cp_title, jdbcType=VARCHAR},#{cp_type,jdbcType=VARCHAR},#{cp_num,jdbcType=VARCHAR},#{cp_end,jdbcType=VARCHAR},#{cp_using,jdbcType=VARCHAR},#{cp_condition,jdbcType=VARCHAR},#{cp_name,jdbcType=VARCHAR})
	</insert>

</mapper>

