<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="memberDAO">

	<resultMap type="memberDTO" id="rsMap">
		<result property="id" column="id" />
		<result property="pw" column="pw" />
		<result property="name" column="name" />
		<result property="email_id" column="email_id" />
		<result property="email_site" column="email_site" />
		<result property="phone1" column="phone1" />
		<result property="phone2" column="phone2" />
		<result property="phone3" column="phone3" />
		<result property="postcode" column="postcode" />
		<result property="address1" column="address1" />
		<result property="address2" column="address2" />
		<result property="address3" column="address3" />
		<result property="smsPush" column="smsPush" />
		<result property="emailPush" column="emailPush" />
		<result property="useCount" column="useCount" />
		<result property="handler" column="handler" />
		<result property="photo" column="photo" />
	</resultMap>
	
	<resultMap type="licenseDTO" id="rsMap_license">
		<result property="id" column="id" />
		<result property="licenseType" column="licenseType" />
		<result property="area" column="area" />
		<result property="num1" column="num1" />
		<result property="num2" column="num2" />
		<result property="num3" column="num3" />
		<result property="expireDate" column="expireDate" />
		<result property="issueDate" column="issueDate" />
	</resultMap>
	
	<resultMap type="socialDTO" id="rsMap_social">
		<result property="id" column="id" />
		<result property="social_id" column="social_id" />
		<result property="social_type" column="social_type" />
	</resultMap>

	<select id="selectId" parameterType="String" resultMap="rsMap">
		SELECT *
		FROM member
		WHERE id = #{id}
	</select>
	
	<select id="selectId_license" parameterType="String" resultMap="rsMap_license">
		SELECT *
		FROM license
		WHERE id = #{id}
	</select>
	
	<select id="selectId_naver" parameterType="String" resultMap="rsMap_social">
		SELECT *
		FROM social
		WHERE id = #{id} and social_type = 'naver'
	</select>
	
	<select id="selectId_kakao" parameterType="String" resultMap="rsMap_social">
		SELECT *
		FROM social
		WHERE id = #{id} and social_type = 'kakao'
	</select>

	<select id="selectEmail" parameterType="memberDTO" resultMap="rsMap">
		SELECT *
		FROM member
		WHERE email_id = #{email_id} and email_site = #{email_site}
	</select>
	
	<select id="emailNameCheck" parameterType="memberDTO" resultType="String">
		SELECT email_id
		FROM member
		WHERE email_id = #{email_id} and email_site = #{email_site} and name = #{name}
	</select>
	
	<select id="emailIdNameCheck" parameterType="memberDTO" resultType="String">
		SELECT email_id
		FROM member
		WHERE email_id = #{email_id} and email_site = #{email_site} and name = #{name} and id = #{id}
	</select>
	
	<select id="selectPhone" parameterType="memberDTO" resultMap="rsMap">
		SELECT *
		FROM member
		WHERE phone1 = #{phone1} and phone2 = #{phone2} and phone3 = #{phone3}
	</select>
	
	<select id="phoneNameCheck" parameterType="memberDTO" resultType="String">
		SELECT phone3
		FROM member
		WHERE phone1 = #{phone1} and phone2 = #{phone2} and phone3 = #{phone3} and name = #{name}
	</select>
	
	<select id="phoneIdNameCheck" parameterType="memberDTO" resultType="String">
		SELECT phone3
		FROM member
		WHERE phone1 = #{phone1} and phone2 = #{phone2} and phone3 = #{phone3} and name = #{name} and id = #{id}
	</select>

	<select id="selectAll" resultMap="rsMap">
		SELECT * FROM member
	</select>

	<!-- 소셜 유무 확인 -->
	<select id="snsJoinCheck" parameterType="memberDTO" resultType="String">
		SELECT id 
		FROM social
		WHERE social_id = #{social_id} and social_type = #{social_type}
	</select>

	<!-- 회원가입 정보 주입 -->
	<insert id="insert" parameterType="memberDTO">
		INSERT INTO member (id, pw, name, email_id, email_site, phone1, phone2, phone3, postcode, address1, address2, address3, smsPush, emailPush, useCount, handler)
		VALUES(#{id}, #{pw}, #{name},#{email_id}, #{email_site},#{phone1}, #{phone2}, #{phone3},#{postcode}, #{address1}, #{address2}, #{address3},#{smsPush}, #{emailPush}, #{useCount},#{handler})
	</insert>
	
	<insert id="insertSocial" parameterType="socialDTO">
		INSERT INTO social 
		VALUES(#{id}, #{social_id}, #{social_type})
	</insert>

	<update id="updatePoint" parameterType="insertPointDTO">
		UPDATE member SET point = point + #{point}
		WHERE id=#{id}
	</update>
	
	<update id="updatePw" parameterType="memberDTO">
		UPDATE member SET pw = #{pw}
		WHERE id=#{id}
	</update>
	
	<update id="updateEmail" parameterType="memberDTO">
		UPDATE member SET email_id = #{email_id}, email_site = #{email_site}
		WHERE id=#{id}
	</update>
	
	<update id="updatePhone" parameterType="memberDTO">
		UPDATE member SET phone1 = #{phone1}, phone2 = #{phone2}, phone3 = #{phone3}
		WHERE id=#{id}
	</update>
	
	<update id="updateAddress" parameterType="memberDTO">
		UPDATE member SET postcode = #{postcode}, address1 = #{address1}, address2 = #{address2}, address3 = #{address3}
		WHERE id=#{id}
	</update>
	
	<update id="updateHandler" parameterType="hsDTO">
		UPDATE member SET handler = #{handler}
		WHERE id=#{id}
	</update>

<!-- 
	<delete id="deleteSomething" parameterType="int">
		DELETE FROM tablename1 WHERE
		columnname1 = #{param1}
	</delete>
 -->
 </mapper>
