<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="memberAdminDAO">

   <resultMap type="memberAdminDTO" id="rsMap">
      <result property="id" column="id" />
      <result property="name" column="name" />
      <result property="email_id" column="email_id" />
      <result property="email_site" column="email_site" />
      <result property="phone1" column="phone1" />
      <result property="phone2" column="phone2" />
      <result property="phone3" column="phone3" />
      <result property="postcode" column="postcode" />
      <result property="address1" column="address1" />
      <result property="address2" column="address2" />
      <result property="address3" column="address3" />
      <result property="point" column="point" />      
      <result property="smsPush" column="smsPush" />
      <result property="emailPush" column="emailPush" />
      <result property="photo" column="photo" />
      <result property="memberLevel" column="memberLevel" />
      <result property="permission" column="permission" />
   </resultMap>
   
   
   <select id="selectAll" resultMap="rsMap">
      select s.id, s.name, s.email_id, s.email_site, s.phone1, s.phone2, s.phone3, s.postcode, s.address1, 
      s.address2, s.address3, s.point, s.smspush, s.emailpush, s.photo, s.memberlevel, l.permission from 
      (select m.id, m.name, m.email_id, m.email_site, m.phone1, m.phone2, m.phone3,
      m.postcode, m.address1, m.address2, m.address3, m.point, m.smspush, m.emailpush, m.photo, ml.memberlevel
      from member m, memberLevel ml where ml.id = m.id) s Left outer join license l on s.id = l.id 
      where s.id not like 'admin%' and s.name not like '관리자'
   </select>
   
   	<select id="cntAll" resultType="int">
		SELECT count(*) from member
	</select>
   
   <select id="selectId" parameterType="String" resultMap="rsMap">
      select s.id, s.name, s.email_id, s.email_site, s.phone1, s.phone2, s.phone3, s.postcode, s.address1, 
      s.address2, s.address3, s.point, s.smspush, s.emailpush, s.photo, s.memberlevel, l.permission from 
      (select m.id, m.name, m.email_id, m.email_site, m.phone1, m.phone2, m.phone3,
      m.postcode, m.address1, m.address2, m.address3, m.point, m.smspush, m.emailpush, m.photo, ml.memberlevel
      from member m, memberLevel ml where ml.id = m.id) s Left outer join license l on s.id = l.id 
      where s.id like '%'||#{id} or s.id like #{id}||'%' or s.id like '%'||#{id}||'%'
   </select>
   
   <select id="selectName" parameterType="String" resultMap="rsMap">
      select s.id, s.name, s.email_id, s.email_site, s.phone1, s.phone2, s.phone3, s.postcode, s.address1, 
      s.address2, s.address3, s.point, s.smspush, s.emailpush, s.photo, s.memberlevel, l.permission from 
      (select m.id, m.name, m.email_id, m.email_site, m.phone1, m.phone2, m.phone3,
      m.postcode, m.address1, m.address2, m.address3, m.point, m.smspush, m.emailpush, m.photo, ml.memberlevel
      from member m, memberLevel ml where ml.id = m.id) s Left outer join license l on s.id = l.id 
      where s.name = '%'||#{name} or s.name like #{name}||'%' or s.name like  '%'||#{name}||'%'
   </select>
   
   <select id="selectLicenseSort" parameterType="String" resultMap="rsMap">
      select s.id, s.name, s.email_id, s.email_site, s.phone1, s.phone2, s.phone3, s.postcode, s.address1, 
      s.address2, s.address3, s.point, s.smspush, s.emailpush, s.photo, s.memberlevel, l.permission from 
      (select m.id, m.name, m.email_id, m.email_site, m.phone1, m.phone2, m.phone3,
      m.postcode, m.address1, m.address2, m.address3, m.point, m.smspush, m.emailpush, m.photo, ml.memberlevel
      from member m, memberLevel ml where ml.id = m.id) s Left outer join license l on s.id = l.id 
      where l.permission = #{permission}
   </select>
   
   <select id="selectLicenseSort_null" resultMap="rsMap">
      select s.id, s.name, s.email_id, s.email_site, s.phone1, s.phone2, s.phone3, s.postcode, s.address1, 
      s.address2, s.address3, s.point, s.smspush, s.emailpush, s.photo, s.memberlevel, l.permission from 
      (select m.id, m.name, m.email_id, m.email_site, m.phone1, m.phone2, m.phone3,
      m.postcode, m.address1, m.address2, m.address3, m.point, m.smspush, m.emailpush, m.photo, ml.memberlevel
      from member m, memberLevel ml where ml.id = m.id) s Left outer join license l on s.id = l.id 
      where l.permission is null
   </select>

   <select id="selectPushSort_smsPush" resultMap="rsMap">
      select s.id, s.name, s.email_id, s.email_site, s.phone1, s.phone2, s.phone3, s.postcode, s.address1, 
      s.address2, s.address3, s.point, s.smspush, s.emailpush, s.photo, s.memberlevel, l.permission from 
      (select m.id, m.name, m.email_id, m.email_site, m.phone1, m.phone2, m.phone3,
      m.postcode, m.address1, m.address2, m.address3, m.point, m.smspush, m.emailpush, m.photo, ml.memberlevel
      from member m, memberLevel ml where ml.id = m.id) s Left outer join license l on s.id = l.id 
      where s.smspush = '1'
   </select>

   <select id="selectPushSort_emailPush" resultMap="rsMap">
      select s.id, s.name, s.email_id, s.email_site, s.phone1, s.phone2, s.phone3, s.postcode, s.address1, 
      s.address2, s.address3, s.point, s.smspush, s.emailpush, s.photo, s.memberlevel, l.permission from 
      (select m.id, m.name, m.email_id, m.email_site, m.phone1, m.phone2, m.phone3,
      m.postcode, m.address1, m.address2, m.address3, m.point, m.smspush, m.emailpush, m.photo, ml.memberlevel
      from member m, memberLevel ml where ml.id = m.id) s Left outer join license l on s.id = l.id 
      where s.emailpush = '1'
   </select>

</mapper>