<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="surveyDAO">

	<resultMap type="car_surveyDTO" id="rsMap_car">
		<result property="num" column="num" />
		<result property="q1" column="q1" />
		<result property="q2" column="q2" />
		<result property="q3" column="q3" />
		<result property="q4" column="q4" />
		<result property="q5" column="q5" />
		<result property="opinion" column="opinion" />
	</resultMap>
	
<!-- 	<select id="getSomething" parameterType="int" resultType="#package.#modelname">
		SELECT
		columnname1,
		columnname2,
		columnname3
		FROM tablename1
		WHERE columnname1 = #{value}
	</select> -->


<!-- 	<select id="getAll" resultMap="YourResultSet">
		SELECT * FROM tablename1
	</select> -->

	<insert id="insert" parameterType="car_surveyDTO">
		INSERT INTO car_survey
		VALUES(car_survey_seq.nextval, #{q1}, #{q2}, #{q3}, #{q4}, #{q5}, #{opinion})
	</insert>

<!-- 
	<delete id="deleteSomething" parameterType="int">
		DELETE FROM tablename1 WHERE
		columnname1 = #{param1}
	</delete> -->

</mapper>
